:root {
	--light: #f0ffff;
	--dark: #0d1d2a;

	--min-height: 100svh;
	--content-width: 45rem;

	--header-font: 'JetBrains Mono', monospace;
	--body-font: 'Inter', sans-serif;

	--hover-transition: background-color 200ms, border 200ms, color 200ms,
		fill 200ms;

	--padding-default: 2rem;
	--margin-small: 2rem;
	--margin-large: 3rem;
}

html {
	transition: all 500ms;
}

html[data-theme='light'] {
	--background-color: var(--light);
	--font-color: var(--dark);
	--pink: #f87060;
	--red: #650c00;
	--green: #5ab80d;
	--blue: #2441a9;
	--gray: #888;
	--button: #0d1d2a;
	--toast: #193549;
	--button-color: var(--background-color);
	--box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

html[data-theme='dark'] {
	--background-color: var(--dark);
	--font-color: var(--light);
	--pink: #f87060;
	--red: #fe4b34;
	--green: #c6eda6;
	--blue: #7d99ff;
	--gray: #bbb;
	--button: var(--blue);
	--toast: #193549;
	--button-color: var(--background-color);
	--box-shadow: rgba(122, 122, 122, 0.1) 0px 1px 3px 0px,
		rgba(122, 122, 122, 0.06) 0px 1px 2px 0px;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: only dark;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html:focus-within {
	scroll-behavior: smooth;
}

ul:not([role='list']),
ol:not([role='list']),
ul[role='menu'],
ol[role='menu'] {
	padding: 0;
	list-style: none;
}

ul[role='menu'] a,
ol[role='menu'] a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: var(--min-height);
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	margin: 0;

	background-color: var(--background-color);
	color: var(--font-color);
	font-family: var(--body-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
blockquote,
dl,
dd {
	margin: 0 0 1.6rem;
}

a {
	color: var(--blue);
	font-weight: 500;
}

a:active {
	outline: none;
}

a:visited {
	color: var(--blue);
}

a:hover,
a:focus,
a:focus-visible {
	color: var(--green);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;

	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
}

svg {
	fill: currentColor;
}

.mode-icon {
	width: 2rem;
}

svg:not(:root) {
	overflow: hidden;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Type and Link Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	margin: 0 0 1rem;
}

label {
	font-family: var(--header-font);
}

h1 {
	font-size: clamp(2.4rem, 2vw, 4rem);
	margin: 0;
}

h2 {
	font-size: clamp(2.2rem, 2vw, 3rem);
}

#projects h2 {
	font-size: clamp(1.6rem, 2vw, 2rem);
}

a {
	font-size: clamp(1.4rem, 2vw, 2rem);
	line-height: 1.8;
	margin-bottom: 0;
}

p,
button,
label,
input,
textarea {
	font-size: clamp(1.2rem, 2vw, 2rem);
	line-height: 1.8;
	margin-bottom: 0;
}

#projects p {
	font-size: clamp(1.2rem, 2vw, 1.8rem);
}

.btn {
	border: none;
	outline: none;
	cursor: pointer;

	color: var(--font-color);
	background-color: var(--background-color);
	padding: 0.25rem 0.75rem;
	font-weight: 600;
	transition: var(--hover-transition);

	&:hover,
	&:focus-visible {
		color: var(--background-color);
		background-color: var(--font-color);
		border: none;
		outline: none;
	}
}

/* Container */

.container {
	padding: 0 var(--padding-default);
	container: content / inline-size;
	max-width: var(--content-width);
	margin: 0 auto;
}

/* Layout */

main {
	flex-grow: 1;
}

section {
	margin-bottom: var(--margin-large);
}

/* Header Navigation */

.navigation ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 2rem;
	margin: 0 0 2rem;
}

.navigation ul li {
	position: relative;
	display: flex;
	align-items: center;
	padding: 2rem 0 1rem;
	font-size: 1.2rem;
}

.navigation ul li a {
	color: var(--font-color);
	font-weight: 600;
	transition: var(--hover-transition);
	flex-grow: 1;

	&:hover {
		color: var(--blue);
	}
}

/* Light/Dark Mode Toggle */

.btn.toggle {
	display: flex;
	align-items: center;
	border: none;
	color: var(--font-color);
	/* background-color: var(--background-color); */
	/* padding: 0.5rem 1rem; */
	padding: 0;
	font-weight: 600;
	transition: var(--hover-transition);
	/* border: 0.2rem solid var(--font-color); */

	&:hover,
	&:focus,
	&:focus-visible {
		background-color: transparent !important;
	}
}

.btn.toggle svg {
	overflow: hidden;
	transition: var(--hover-transition);
	background-color: transparent !important;

	&:hover,
	&:focus,
	&:focus-visible,
	&:active {
		/* color: var(--background-color);*/
		/* background-color: var(--font-color); */
		fill: var(--blue);
		background-color: transparent !important;
	}
}

/* Footer */

footer {
	padding: 3rem 0;
}

footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.site-info {
	text-decoration: none;
	font-weight: 600;
	font-family: var(--header-font);
	font-size: clamp(1.2rem, 2vw, 1.6rem);
}

/* Headshot */

header .headshot {
	display: none;
}

main .headshot {
	border-radius: 1rem;
}

/* Skills */

.skills-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.skill {
	font-size: clamp(1rem, 2vw, 2rem);
	background-color: var(--blue);
	color: var(--background-color);
	font-family: var(--header-font);
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	transition: var(--hover-transition);

	&:hover {
		background-color: var(--green);
		cursor: default;
	}
}

#projects .skill {
	font-size: clamp(1rem, 2vw, 1.4rem);
}

/* Home - Intro */

.intro {
	display: flex;
	flex-direction: column;
}

.intro-banner {
	margin-bottom: var(--margin-small);
}

.intro-banner img {
	margin-bottom: var(--margin-small);
}

/* Home - Form */

.contact {
	--focus-visible: var(--green);
}

.contact form {
	--font-color: var(--font-color);
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 0.5rem;
}

.required::after {
	content: '*';
}

input,
textarea {
	color: var(--font-color);
	background-color: #fff;
	padding: 0.25rem 0.75rem;
	transition: var(--hover-transition);
	border: 0.1rem solid var(--gray);
	border-radius: 0.5rem;
	margin-bottom: 1rem;

	&:focus-visible {
		outline-color: var(--focus-visible);
	}
}

textarea {
	resize: vertical;
	min-height: 5rem;
	max-height: 20rem;
}

input.error,
textarea.error {
	border-color: var(--red);
	outline-color: var(--pink);
}

form .btn {
	border-radius: 0.5rem;
	color: var(--background-color);
	background-color: var(--blue);
	border: 0.1rem solid var(--blue);
	margin-top: 1rem;

	&:hover {
		background-color: var(--green);
		border: 0.1rem solid var(--green);
	}

	&:focus-visible {
		outline-color: var(--focus-visible);
	}

	&:focus {
		background-color: var(--blue);
		border: 0.1rem solid var(--blue);
	}

	&:disabled {
		background-color: var(--gray);
		border: 0.1rem solid var(--gray);
		cursor: wait;
	}
}

/* Projects - Projects List */

#projects {
	--margin-small: 1rem;
}

.projects-section h1 {
	margin-bottom: var(--margin-small);
}

.project {
	margin-bottom: var(--margin-large);
}

.project-header {
	margin-bottom: var(--margin-small);
}

.project-description {
	margin-bottom: var(--margin-small);
}

/* Queries */

/* Tablet */
@media only screen and (min-width: 45rem) {
	.container {
		--padding-default: 4rem;
	}

	/* Header */

	header {
		margin-bottom: var(--margin-large);
	}

	header .container {
		display: flex;
		justify-content: space-between;
	}

	.navigation ul {
		justify-content: end;
		flex-wrap: wrap;
		gap: 2rem;
	}

	header .headshot {
		display: block;
		align-self: center;
		max-width: 6rem;
		border-radius: 50%;
		margin: 2rem 0;
	}

	main .headshot {
		display: none;
	}

	/* Home - Intro */
	.intro {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.intro-banner {
		display: flex;
		align-items: end;
	}

	.intro-banner {
		margin-bottom: var(--margin-small);
	}

	.intro-banner img {
		width: 20rem;
		margin: 0;
	}

	.intro-hello {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2rem;
	}

	.intro-hello h2 {
		margin: 0;
	}

	/* Home - Form */

	input,
	textarea {
		padding: 0.5rem 1rem;
	}

	/* Footer */
	footer {
		padding: 2rem 0 3rem;
	}

	footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* Desktop */
@media only screen and (min-width: 65rem) {
	.container {
		--content-width: 65rem;
		--margin-small: 3rem;
		--margin-large: 4rem;
	}

	/* Header */

	header .headshot {
		align-self: center;
		max-width: 8rem;
		border-radius: 50%;
		margin: 1.5rem 0 2rem;
	}

	/* Home - Intro */
	.intro-banner {
		margin-bottom: var(--margin-small);
	}

	.intro-hello {
		align-items: baseline;
	}

	.intro-hello h2 {
		font-size: clamp(2.4rem, 2vw, 4rem);
	}

	.intro-banner img {
		max-width: 30rem;
	}
}

/* Accessibility Elements */

.skip-links {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -100rem;
	display: inline-block;
	padding: 1rem;
	background-color: var(--background-color);
	color: var(--font-color);
	font-weight: bold;
	text-decoration: none;
	z-index: 100000;
}

.skip-links a:focus-visible {
	top: 0;
}

*:focus-visible {
	outline: 0.3rem solid var(--pink);
	outline-offset: 0.1rem;
}

.to-top {
	position: fixed;
	bottom: 0;
	right: 1rem;
	background-color: var(--background-color);
	color: var(--font-color);
	border: 0.3rem solid var(--font-color);
	border-bottom: none;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem 0.5rem 0 0;
	text-decoration: none;
	transform: translateY(100%);
	transition: background-color 0.2s, color 0.2s, opacity 0.2s, transform 0.2s;
	font-size: 1rem;
	font-weight: 600;
}

.to-top:visited {
	color: var(--font-color);
}

.to-top:hover,
.to-top:focus,
.to-top:focus-visible {
	color: var(--background-color);
	background-color: var(--font-color);
	border: 0.3rem solid var(--font-color);
	border-bottom: none;
	z-index: 10;
}

.to-top.visible,
.to-top:focus-visible,
.to-top.visible:focus-visible {
	transform: none;
}

/* Toast Message */

#toast {
	--toast-accent: var(--green);
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--toast);
	color: var(--light);
	border-top: 0.2rem solid var(--toast-accent);
	padding: 1em;
	border-radius: 0.2rem;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	z-index: 1;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: stretch;

	&.show {
		visibility: visible;
		opacity: 1;
	}

	&.show.error {
		color: var(--pink);
		border-top: 0.2rem solid var(--toast-accent);
	}

	& .toast-message {
		font-size: clamp(1rem, 2vw, 1.2rem);
		flex-grow: 1;
	}

	& .toast-message.toast-message-long {
		text-align: left;
		margin-right: 2rem;
	}

	& button.btn.toast-button {
		padding: 0.2rem;
		margin: 0;
		background-color: transparent;
		transition: all 150ms;
		align-self: flex-start;

		display: flex;
	}

	& button.btn.toast-button:focus-visible {
		outline: 0.2rem solid var(--pink);
	}

	& button.btn.toast-button:hover line {
		color: var(--toast-accent);
		stroke: var(--toast-accent);
	}

	& .toast-close-icon {
		width: 0.75rem;
		height: 0.75rem;
		transition: all 150ms;
	}

	& .toast-close-icon:hover line {
		stroke: var(--toast-accent);
		transition: all 150ms;
	}

	& .toast-close-icon line {
		stroke: var(--light);
		transition: all 150ms;
	}
}

@media only screen and (min-width: 45rem) {
	#toast {
		width: 50svw;
	}
}

/* Hidden */

.visually-hidden {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
