:root {
	--min-height: 100svh;
	--content-width: 45rem;

	--header-font: 'JetBrains Mono', monospace;
	--body-font: 'Inter', sans-serif;

	--hover-transition: background-color 200ms, border 200ms, color 200ms;

	--padding-default: 2rem;
	--margin-small: 2rem;
	--margin-large: 3rem;
}

html {
	transition: all 500ms;
}

html[data-theme='light'] {
	--background-color: #f0ffff;
	--font-color: #0d1d2a;
	--pink: #f87060;
	--red: #650c00;
	--green: #5ab80d;
	--blue: #2441a9;
	--gray: #888;
	--button: #0d1d2a;
	--button-color: var(--background-color);
	--box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

html[data-theme='dark'] {
	--background-color: #122738;
	--font-color: #f0ffff;
	--pink: #f87060;
	--red: #fe4b34;
	--green: #c6eda6;
	--blue: #7d99ff;
	--gray: #bbb;
	--button: var(--blue);
	--button-color: var(--background-color);
	--box-shadow: rgba(122, 122, 122, 0.1) 0px 1px 3px 0px,
		rgba(122, 122, 122, 0.06) 0px 1px 2px 0px;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: only light;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html:focus-within {
	scroll-behavior: smooth;
}

ul:not([role='list']),
ol:not([role='list']),
ul[role='menu'],
ol[role='menu'] {
	padding: 0;
	list-style: none;
}

ul[role='menu'] a,
ol[role='menu'] a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: var(--min-height);
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	margin: 0;

	background-color: var(--background-color);
	color: var(--font-color);
	font-family: var(--body-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
blockquote,
dl,
dd {
	margin: 0 0 1.6rem;
}

a {
	color: var(--blue);
	font-weight: 500;
}

a:active {
	outline: none;
}

a:visited {
	color: var(--blue);
}

a:hover,
a:focus,
a:focus-visible {
	color: var(--green);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;

	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
}

svg {
	fill: currentColor;
}

svg:not(:root) {
	overflow: hidden;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Type and Link Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	margin: 0 0 1rem;
}

label {
	font-family: var(--header-font);
}

.intro-hello h1 {
	font-size: clamp(2rem, 2vw, 3.6rem);
	margin: 0;
}

h2 {
	font-size: clamp(1.8rem, 2vw, 2.4rem);
}

p,
a,
button,
label,
input,
textarea {
	font-size: clamp(1.4rem, 2vw, 2rem);
	line-height: 1.8;
	margin-bottom: 0;
}

.btn {
	color: var(--font-color);
	background-color: var(--background-color);
	padding: 0.25rem 0.75rem;
	font-weight: 600;
	transition: var(--hover-transition);
	border: 0.2rem solid var(--font-color);
	cursor: pointer;

	&:hover,
	&:focus-visible {
		color: var(--background-color);
		background-color: var(--font-color);
		border: 0.2rem solid var(--font-color);
	}
}

/* Container */

.container {
	padding: 0 var(--padding-default);
	container: content / inline-size;
	max-width: var(--content-width);
	margin: 0 auto;
}

/* Layout */

main {
	flex-grow: 1;
}

section {
	margin-bottom: var(--margin-large);
}

/* Header Navigation */

.navigation {
	/*  */
}

.navigation ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 4rem;
	margin: 0 0 2rem;
}

.navigation ul li {
	position: relative;
	display: flex;
	align-items: center;
	padding: 2rem 0 1rem;
	font-size: 1.2rem;
}

.navigation ul li a {
	color: var(--font-color);
	font-weight: 600;
	transition: var(--hover-transition);
	flex-grow: 1;

	&:hover {
		color: var(--blue);
	}
}

.toggle {
	color: var(--font-color);
	background-color: var(--background-color);
	padding: 0.5rem 1rem;
	font-weight: 600;
	transition: var(--hover-transition);
	border: 0.2rem solid var(--font-color);

	&:hover,
	&:focus,
	&:focus-visible {
		color: var(--background-color);
		background-color: var(--font-color);
		border: 0.2rem solid var(--font-color);
	}
}

/* Main - Intro */

.intro {
	display: flex;
	flex-direction: column;
}

.intro-banner {
	margin-bottom: var(--margin-small);
}

.intro-banner img {
	margin-bottom: var(--margin-small);
}

/* Skills */

.skills-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.skills-list li p {
	background-color: var(--blue);
	color: var(--background-color);
	font-family: var(--header-font);
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
}

/* Form */

.contact {
	--focus-visible: var(--green);
}

.contact form {
	--font-color: var(--font-color);
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 0.5rem;
}

.required::after {
	content: '*';
}

input,
textarea {
	color: var(--font-color);
	background-color: #fff;
	padding: 0.25rem 0.75rem;
	transition: var(--hover-transition);
	border: 0.1rem solid var(--gray);
	border-radius: 0.5rem;
	margin-bottom: 1rem;

	&:focus-visible {
		outline-color: var(--focus-visible);
	}
}

textarea {
	resize: vertical;
	min-height: 5rem;
	max-height: 20rem;
}

input.error,
textarea.error {
	border-color: var(--red);
	outline-color: var(--pink);
}

form .btn {
	border-radius: 0.5rem;
	color: var(--background-color);
	background-color: var(--blue);
	border: 0.2rem solid var(--background-color);
	margin-top: 1rem;

	&:hover {
		background-color: var(--green);
		border-color: var(--green);
	}

	&:focus-visible {
		outline-color: var(--focus-visible);
	}

	&:focus {
		background-color: var(--blue);
	}

	&:disabled {
		background-color: var(--gray);
		border-color: var(--gray);
		cursor: wait;
	}
}

/* Footer */

footer {
	padding: 3rem 0;
}

footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.site-info {
	text-decoration: none;
	font-weight: 600;
	font-family: var(--header-font);
	font-size: clamp(1.2rem, 2vw, 1.6rem);
}

/* Queries */

@media only screen and (min-width: 45rem) {
	.container {
		--padding-default: 4rem;
	}

	/* Header - Tablet */
	.navigation ul {
		justify-content: end;
		flex-wrap: wrap;
		gap: 2rem;
	}

	/* Main - Tablet */
	.intro {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.intro-banner {
		display: flex;
		align-items: end;
	}

	.intro-banner {
		margin-bottom: var(--margin-small);
	}

	.intro-banner img {
		width: 20rem;
		margin: 0;
	}

	.intro-hello {
		margin-left: var(--margin-small);
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.intro-content {
		flex-shrink: 1;
	}

	input,
	textarea {
		padding: 0.5rem 1rem;
	}

	/* Footer - Tablet */
	footer {
		padding: 2rem 0 3rem;
	}

	footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 65rem) {
	.container {
		--content-width: 65rem;
		--margin-small: 3rem;
		--margin-large: 4rem;
	}

	/* Main - Desktop */
	.intro-banner {
		margin-bottom: var(--margin-small);
	}

	.intro-banner img {
		max-width: 30rem;
	}
}

/* Accessibility Elements */

.skip-links {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -100rem;
	display: inline-block;
	padding: 1rem;
	background-color: var(--background-color);
	color: var(--font-color);
	font-weight: bold;
	text-decoration: none;
	z-index: 100000;
}

.skip-links a:focus-visible {
	top: 0;
}

*:focus-visible {
	outline: 0.3rem solid var(--pink);
	outline-offset: 0.1rem;
}

.to-top {
	position: fixed;
	bottom: 0;
	right: 1rem;
	background-color: var(--background-color);
	color: var(--font-color);
	border: 0.3rem solid var(--font-color);
	border-bottom: none;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem 0.5rem 0 0;
	text-decoration: none;
	transform: translateY(100%);
	transition: background-color 0.2s, color 0.2s, opacity 0.2s, transform 0.2s;
	font-size: 1rem;
	font-weight: 600;
}

.to-top:visited {
	color: var(--font-color);
}

.to-top:hover,
.to-top:focus,
.to-top:focus-visible {
	color: var(--background-color);
	background-color: var(--font-color);
	border: 0.3rem solid var(--font-color);
	border-bottom: none;
}

.to-top.visible,
.to-top:focus-visible,
.to-top.visible:focus-visible {
	transform: none;
}
