<ul class="skip-links">
	<li><a href="#nav">Skip to main navigation</a></li>
	<li><a href="#main">Skip to main content</a></li>
</ul>
<header>
	<div class="container">
		<img
			src="./img/headshot.jpg"
			alt="Vincent Chevalier"
			class="headshot"
			height="140"
			width="140"
		/>
		<nav class="navigation" id="nav">
			<ul role="menu">
				<each loop="page in pages">
					<li role="menuitem">
						<a href=".{{page.route}}.html">{{page.page}}</a>
					</li>
				</each>
				<li role="menuitem">
					<button
						class="btn toggle"
						aria-pressed="false"
						aria-label="Toggle dark mode"
					>
						<svg class="mode-icon" version="1.1" viewBox="0 0 1200 1200">
							<path
								d="m62.5 600c0-296.85 240.65-537.5 537.5-537.5 296.86 0 537.5 240.65 537.5 537.5 0 296.86-240.64 537.5-537.5 537.5-296.85 0-537.5-240.64-537.5-537.5zm500-300c0-46.633 39.113-91.234 92.645-83.598 187.91 26.793 332.36 188.3 332.36 383.6s-144.45 356.8-332.36 383.6c-53.531 7.6289-92.645-36.965-92.645-83.602z"
								fill-rule="evenodd"
							/>
						</svg>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</header>
