<ul class="projects-list">
	<each loop="project in projects">
		<li class="project" id="{{project.id}}">
			<div class="project-header">
				<h2>{{project.title}}</h2>
			</div>
			<p class="project-description">{{project.description}}</p>
			<ul class="skills-list">
				<each loop="skill in project.skills">
					<li class="skill">{{skill}}</li>
				</each>
			</ul>
			<ul class="links">
				<each loop="link in project.links">
					<li>
						<span class="link-site"> {{link.site}}: </span>
						<a href="{{link.link}}">{{link.title}}</a>
					</li>
				</each>
			</ul>
		</li>
	</each>
</ul>
